@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Custom Dark Mode Styles (if needed) */
@layer base {
  /* Dark Mode Background */
  .dark {
    background-color: #2c3e50; /* Your dark background color */
  }

  /* You can add other global dark mode styles here */
  .dark .text-white {
    color: white; /* Example of text color change in dark mode */
  }

  /* Apply custom dark mode styles for specific elements */
  .dark .button {
    background-color: #333; /* Dark mode button background */
  }
}
